h1 {
	text-align: center;
	color: blue;
}

#container {
	width: 100%;
	min-height: 100%;
	position: absolute;
}

#map {
	position: absolute;
	float: left;
	width: 70%;
	height: 100%;
}

#list {
	float: right;
	width: 30%;
	height: 100%;
}

ul {
	list-style-type: none;
	padding-left: 15px;
	margin: 0px;
}

li {background: white}

li:nth-child(odd) {background:  #d1d1e0}

ul li {
	cursor: pointer;
}

#map-unavailable {
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 20;
	visibility: hidden;
}

.selected, ul li:hover {
	color: #000;
	background-color: #ff0;
}

.dialog-wrapper {
	color: blue;
	position: absolute;
	width: 80%;
	height: 80%;
	z-index: 10;
	margin-left: 10%;
	margin-top: 10%;
}